<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="CreateNewController"   xsi:type="object">MageDeX\Magentizer\Console\Command\Create\CreateNewModule</item>
                <item name="CreateSystemConfig" xsi:type="object">MageDeX\Magentizer\Console\Command\Create\CreateSystemConfig</item>
                <item name="CreateConfigModel"  xsi:type="object">MageDeX\Magentizer\Console\Command\Create\CreateConfigModel</item>
<!--                <item name="HelloCustom" xsi:type="object">MageDeX\Magentizer\Console\Command\HelloCustom</item>-->
            </argument>
        </arguments>
    </type>
</config>
